body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	
	padding-top: 80px; 
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
#main-header a {
	color: white;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
#logo-header:hover {
	color: #0b76a6;
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}

#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
	

nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 80px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}
			
nav ul li a:hover {
background: #0b76a6;
}
#main-content {
    background: white;
    width: 90%;
    max-width: 9500px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
                
#main-content header,#main-content .content {
    padding: 40px;
}
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
#main-footer p {
    margin: 0;
}
                        
#main-footer a {
    color: white;
}
#main-header {
    background: #333;
    color: white;
    height: 80px;
                            
    width: 100%; 
    left: 0; 
                            
    top: 0; 
                            
    position: fixed; 
                        
}
.content-all{
    position: relative;
    left: 150px;
    margin-left: auto;
    padding: auto;
    width: 550px;
    perspective: 1000px;
    margin:auto;
    margin-top: auto;
}
.content-carrousel{
    width: 50%;
    position: absolute;

    animation: rotar 10s infinite;
    transform-style: preserve-3d;

}
.content-carrousel:hover{
    animation-play-state: paused;
}
.content-carrousel figure{
    width: 100%;
    height: 150px;
    position: absolute;
    overflow:hidden;
    box-shadow: 0px 0px 20px 0px black;
}
.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}
.content-carrousel figure:nth-child(1){transform: rotateY(0deg)
translateZ(300px);}

.content-carrousel figure:nth-child(2){transform: rotateY(51deg)
translateZ(300px);}

.content-carrousel figure:nth-child(3){transform: rotateY(102deg)
translateZ(300px);}

.content-carrousel figure:nth-child(4){transform: rotateY(154deg)
translateZ(300px);}

.content-carrousel figure:nth-child(5){transform: rotateY(204deg)
translateZ(300px);}

.content-carrousel figure:nth-child(6){transform: rotateY(256deg)
translateZ(300px);}

.content-carrousel figure:nth-child(7){transform: rotateY(306deg)
translateZ(300px);}

.content-carrousel figure:nth-child(8){transform: rotateY(360deg)
translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}
.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

.containerpSpice{
    width: 550px;
    height: 500px;
    background: url(/images/Spice1.jpg) no-repeat;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    box-shadow: 0 0 0 10px #f2f2f2,
                0 0 0 11px #333,
                0 20px 20px -12px #000;
}
.containerpSpice:hover p{
    top: 0;
    transition: all .4s;
}
.containerpSpice p{
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.856);
    color: #f2f2f2;
    padding: 1em;
    box-sizing: border-box;
    position: relative;
    top: 100%;
}
.grid-containerCMMI{
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}
.grid-itemCMMI{
    padding: 5px;
    justify-content: space-between;
    border: solid 1px #333;
    background-color: #666;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.grid-itemCMMI:hover{
    filter: opacity(0.9);
    transform: scale(1.3);
}

.grid-containerIEEE{
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}
.grid-itemIEEE{
    padding: 5px;
    justify-content: space-between;
    border: solid 1px #333;
    background-color: #666;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.grid-itemIEEE:hover{
    filter: opacity(0.9);
    transform: scale(1.3);
}

.grid-itemIEEEM{
    padding: 5px;
    justify-content: space-between;
    border: solid 1px #333;
    background-color: #666;
    color: white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    grid-column: 1/4;
}
.grid-itemIEEEM:hover{
    filter: opacity(0.9);
    transform: scale(1.3);
}

.containerpPSP{
    width: 350px;
    height: 400px;
    background: url(/images/PSP.jpg) no-repeat;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    box-shadow: 0 0 0 10px #f2f2f2,
                0 0 0 11px #333,
                0 20px 20px -12px #000;
}
.containerpPSP:hover p{
    top: 0;
    transition: all .4s;
}
.containerpPSP p{
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.856);
    color: #f2f2f2;
    padding: 1em;
    box-sizing: border-box;
    position: relative;
    top: 100%;
}

.container-table{
    width: 90%;
    background:#999 ;
    margin: 50px auto;
    box-shadow: 0 0 20px #666;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

.table-title{
    grid-column-start:1 ;
    grid-column-end:4 ;

    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.table-header, table-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-header{
    font-weight: bold;
    font-size: 1.5em;
    color: #f2f2f2;
    gap: 5px;
    border: 1px solid black;
}

.table-item{
    padding: 10px;
    font-size: 1.2em;
    border: 1px black solid;
}
@media screen and (max-width:576px) {
    #main-content {
        background: white;
        width: 99%;
        max-width: 9500px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
            
    .content-all{
        display: none;
    }
    .containerpSpice{
        width: 360px;
        height: 500px;
        background: url(/images/Spice1.jpg) no-repeat;
        margin: 1em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        box-shadow: 0 0 0 10px #f2f2f2,
                    0 0 0 11px #333,
                    0 20px 20px -12px #000;
    }
    .containerpSpice:hover p{
        top: 0;
        transition: all .4s;
    }
    .containerpSpice p{
        margin: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.856);
        color: #f2f2f2;
        padding: 1em;
        box-sizing: border-box;
        position: relative;
        top: 150%;
        font-size: 10px;
    }
    .grid-containerCMMI{
        gap: 10px;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
        
    }
    .grid-itemCMMI{
        padding: 5px;
        justify-content: space-between;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        grid-column: 1/4;
    }
    .grid-itemCMMI:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    .grid-containerIEEE{
        margin: 1px;
        gap: 10px;
        padding: 1px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto ;
    }
    .grid-itemIEEE{
        padding: 5px;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    .grid-itemIEEE:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    
    .grid-itemIEEEM{
        padding: 5px;
        justify-content: space-between;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    .grid-itemIEEEM:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    .container-table{
        width: 90%;
        background:#999 ;
        margin: 50px auto;
        box-shadow: 0 0 20px #666;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    
    .table-title{
        grid-column-start:1 ;
        grid-column-end:4 ;
    
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .table-header, table-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .table-header{
        font-weight: bold;
        font-size: 1.0em;
        color: #f2f2f2;
        gap: 5px;
        border: 1px solid black;
    }
    
    .table-item{
        padding: 10px;
        font-size: 12px;
        border: 1px black solid;
    }
}
@media screen and (max-width:700px){
    #main-content {
        background: white;
        width: 90%;
        max-width: 9500px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
            
    .content-all{
        display: none;
    }
    .containerpSpice{
        width: 360px;
        height: 500px;
        background: url(/images/Spice1.jpg) no-repeat;
        margin: 1em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        box-shadow: 0 0 0 10px #f2f2f2,
                    0 0 0 11px #333,
                    0 20px 20px -12px #000;
    }
    .containerpSpice:hover p{
        top: 0;
        transition: all .4s;
    }
    .containerpSpice p{
        margin: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.856);
        color: #f2f2f2;
        padding: 1em;
        box-sizing: border-box;
        position: relative;
        top: 150%;
        font-size: 10px;
    }
    .grid-containerCMMI{
        gap: 10px;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
        
    }
    .grid-itemCMMI{
        padding: 5px;
        justify-content: space-between;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        grid-column: 1/4;
    }
    .grid-itemCMMI:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    .grid-containerIEEE{
        margin: 1px;
        gap: 10px;
        padding: 1px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto ;
    }
    .grid-itemIEEE{
        padding: 5px;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    .grid-itemIEEE:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    
    .grid-itemIEEEM{
        padding: 5px;
        justify-content: space-between;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    .grid-itemIEEEM:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    .container-table{
        width: 90%;
        background:#999 ;
        margin: 50px auto;
        box-shadow: 0 0 20px #666;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    
    .table-title{
        grid-column-start:1 ;
        grid-column-end:4 ;
    
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .table-header, table-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .table-header{
        font-weight: bold;
        font-size: 1.0em;
        color: #f2f2f2;
        gap: 5px;
        border: 1px solid black;
    }
    
    .table-item{
        padding: 10px;
        font-size: 12px;
        border: 1px black solid;
    }
}
@media screen and (max-width:1100px){
    #main-content {
        background: white;
        width: 90%;
        max-width: 9500px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
            
    .content-all{
        display: none;
    }
    .containerpSpice{
        width: 360px;
        height: 500px;
        background: url(/images/Spice1.jpg) no-repeat;
        margin: 1em auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        box-shadow: 0 0 0 10px #f2f2f2,
                    0 0 0 11px #333,
                    0 20px 20px -12px #000;
    }
    .containerpSpice:hover p{
        top: 0;
        transition: all .4s;
    }
    .containerpSpice p{
        margin: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.856);
        color: #f2f2f2;
        padding: 1em;
        box-sizing: border-box;
        position: relative;
        top: 150%;
        font-size: 10px;
    }
    .grid-containerCMMI{
        gap: 10px;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
        
    }
    .grid-itemCMMI{
        padding: 5px;
        justify-content: space-between;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        grid-column: 1/4;
    }
    .grid-itemCMMI:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    .grid-containerIEEE{
        margin: 1px;
        gap: 10px;
        padding: 1px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto ;
    }
    .grid-itemIEEE{
        padding: 5px;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    .grid-itemIEEE:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    
    .grid-itemIEEEM{
        padding: 5px;
        justify-content: space-between;
        border: solid 1px #333;
        background-color: #666;
        color: white;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }
    .grid-itemIEEEM:hover{
        filter: opacity(0.9);
        transform: scale(1.3);
    }
    .container-table{
        width: 90%;
        background:#999 ;
        margin: 50px auto;
        box-shadow: 0 0 20px #666;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    
    .table-title{
        grid-column-start:1 ;
        grid-column-end:4 ;
    
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    .table-header, table-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .table-header{
        font-weight: bold;
        font-size: 1.0em;
        color: #f2f2f2;
        gap: 5px;
        border: 1px solid black;
    }
    
    .table-item{
        padding: 10px;
        font-size: 12px;
        border: 1px black solid;
    }
}